name: Build ZMK firmware

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git cmake ninja-build gperf \
            ccache dfu-util device-tree-compiler \
            wget python3-pip python3-setuptools python3-wheel xz-utils file make gcc gcc-multilib

          pip3 install --user west

      - name: Init west workspace
        run: |
          set -eux
          west init -l config
          west update

      - name: Build left half
        run: |
          set -eux
          west build -p always \
            -s zmk/app \
            -b nice_nano_v2 \
            -- \
            -DSHIELD=charybdis_left \
            -DZMK_CONFIG=$GITHUB_WORKSPACE/config

      # 右側をビルドしたいときだけ有効化
      # - name: Build right half
      #   run: |
      #     set -eux
      #     west build -p always \
      #       -s zmk/app \
      #       -b nice_nano_v2 \
      #       -- \
      #       -DSHIELD=charybdis_right \
      #       -DZMK_CONFIG=$GITHUB_WORKSPACE/config
