name: Build ZMK

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install west
        run: |
          pip install west

      - name: Init workspace
        run: |
          west init -l config
          west update

      - name: Build left
        run: |
          set -eux
          west build -p always -b nice_nano_v2 -- \
            -DSHIELD=charybdis_left \
            -DZMK_CONFIG=$GITHUB_WORKSPACE/config

      - name: Build right
        run: |
          set -eux
          west build -p always -b nice_nano_v2 -- \
            -DSHIELD=charybdis_right \
            -DZMK_CONFIG=$GITHUB_WORKSPACE/config
