name: Build ZMK firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install west
        run: |
          pip install --upgrade pip
          pip install west

      - name: Init west workspace (in-tree)
        run: |
          set -eux
          west init -l config
          west update

      - name: Debug layout
        run: |
          set -eux
          pwd
          ls -la
          ls -la zmk
          ls -la zmk/app

      - name: Copy shields
        run: |
          set -eux
          mkdir -p zmk/app/boards/shields
          cp -r boards/shields/* zmk/app/boards/shields/

      - name: Build left
        run: |
          set -eux
          west build -p always \
            -s zmk/app \
            -b nice_nano_v2 \
            -- \
            -DSHIELD=charybdis_left \
            -DZMK_CONFIG=${{ github.workspace }}/config
