name: Build ZMK Firmware

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: zmkfirmware/zmk-build-arm:stable

    steps:
      - uses: actions/checkout@v4

      - name: Init west
        shell: bash
        run: |
          set -eux
          west init -l config
          west update
          west zephyr-export

      - name: Copy Charybdis shields
        shell: bash
        run: |
          mkdir -p zmk/app/boards/shields
          cp -r boards/shields/charybdis_bt zmk/app/boards/shields/

      - name: Build LEFT
        working-directory: zmk/app
        run: |
          west build -p \
            -b nice_nano_v2 \
            -- \
            -DSHIELD=charybdis_left \
            -DZMK_CONFIG=$GITHUB_WORKSPACE/config

      - name: Build RIGHT
        working-directory: zmk/app
        run: |
          west build -p \
            -b nice_nano_v2 \
            -- \
            -DSHIELD=charybdis_right \
            -DZMK_CONFIG=$GITHUB_WORKSPACE/config

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: charybdis-bt
          path: |
            zmk/app/build/zephyr/*.uf2
            zmk/app/build/zephyr/*.bin
