name: ZMK Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Init west (ZMK v4)
        run: |
          set -eux
          west init -l config zmk-workspace
          cd zmk-workspace
          west update

      - name: Debug workspace layout
        run: |
          set -eux
          ls -la
          ls -la zmk-workspace
          ls -la zmk-workspace/app
          ls -la zmk-workspace/app/boards

      - name: Copy custom shield
        run: |
          set -eux
          mkdir -p zmk-workspace/app/boards/shields
          cp -r boards/shields/charybdis_bt zmk-workspace/app/boards/shields/

      - name: Build firmware
        run: |
          set -eux
          cd zmk-workspace
          west build -s app -b nice_nano_v2 -- -DSHIELD=charybdis_bt
